.section
{
  color: red;
  background-color: yellowgreen;
  font-family: 'Comic Sans MS';
}

.nom
{
    font-weight: bold;
    font-size: 15px;
    color: sandybrown;
    background-color: yellow;
}

.Title
{
  color: green;
}

.Importante
{
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}